@use "./styles/variables.scss";

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: variables.$darkPurple;
  color: white;
  font-family: "Montserrat", serif;
  font-weight: 400;
  overflow-x: hidden;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
.app-wrapper {
  height: 100vh;
  overflow-x: hidden;
}

// .atkinson {
//   font-family: "Atkinson Hyperlegible Mono", serif;
//   font-weight: 400;
// }
