@import "./style/variables.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: $darkPurple;
  color: white;
  margin-top: 20px;
  font-family: "Montserrat", serif;
  font-weight: 400;
  overflow-x: hidden;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
