@use "./styles/variables.scss";

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: variables.$darkPurple;
  color: variables.$almostWhite;
  font-family: "Montserrat", serif;
  font-weight: 400;
  overflow-x: hidden;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
.app-wrapper {
  height: 100vh;
  overflow-x: hidden;
}

.bebas-neue {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  text-transform: uppercase;
}

.montserrat {
  font-family: "Montserrat", serif !important;
  font-weight: 400;
}
