@use "../../styles/animationKeys.scss";
@use "../../styles/variables.scss";

.bg-landing-container {
  background-color: variables.$darkPurple;
  border-top-left-radius: 200%;
  border-top-right-radius: 200%;
  box-shadow: 0 -20px 5px variables.$darkPurple;
}

[class*="glow"] {
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.glow {
  box-shadow: 0 -20px 200px rgb(168, 123, 157);
  animation: glowIntro 4s ease-in-out forwards;
}
.glowLoop {
  box-shadow: 0 -20px 200px rgb(168, 123, 157);
  animation: glowLoop 6s ease-in-out infinite;
}
.glow-blink {
  box-shadow: 350px -20px 200px rgb(253, 253, 253);
  animation: glowBlinkIntro 4s ease-in-out forwards;
}
.glow-blink2 {
  box-shadow: -350px -20px 200px rgb(253, 253, 253);
  animation: glowBlink2Intro 6s ease-in-out forwards;
}
